.random-bird {
  background-color: #8e70c5;
}

.random-bird_bird {
  max-width: 20%;
}

.random-list_bird-list-item {
  list-style-type: none;
}

.random-list {
  width: 100%;
}

.random-list .rhap_container {
  background-color: #44c296;
  border-radius: 10px;
}

.random-list .rhap_main-controls {
  background-color: rgb(107, 212, 207);
  border-radius: 5px;
}

.random-list .rhap_main-controls {
    margin-right: 20px;
}

.random-list .rhap_horizontal-reverse .rhap_controls-section {
    margin-right: 20px;
}

.random-list .rhap_horizontal-reverse .rhap_progress-section .rhap_time {
    margin-right: 12px;
}

