.header {
  flex-direction: column;
}

.header-img {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-img__logo {
  width: 150px;
  height: 60px;
}

.pagination {
  background-color: #5abe8f;
  padding: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

h1{
  color: rgb(156, 28, 173);
}

span {
  color: #2ebd86;
}

li {
  text-decoration: none;
}

a {
  color: rgb(255, 248, 233);
}

a:hover {
  text-decoration: none;
  color: rgb(255, 221, 217);
}
.bird-item {
  padding: 5px;
  border-radius: 5px;
}

.bird-item.active {
  background-color: rgb(48, 167, 141);
}

/* @media (max-width: 575.98px) {
  .header {
    flex-direction: column;
    justify-content: start;
  }

  h5 {
    display: block;
    margin-left: 5px;
  }
} */