.list-group-item {
  color: rgb(255, 240, 211);
  background-color: aqua;
}
.col-lg-2 .list-group-item {
  background-color: #604bad;
}

.list-group-item:hover {
  text-decoration: none;
  transition: 0.5s ease-in-out;
  background-color: #5abe8f;
}

.answer {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.2s;
  background-color: slategray;
}

.error .answer {
    background-color: tomato;
}

.success .answer {
    background-color: rgb(86, 205, 50);
}
